<table>
  <tr>
    <th>HP</th>
    <td>
      {{isMarked(pokemon.HP)}}
      <span *ngIf="isMarked(pokemon.HP) === 'x' && gender === 'male'">
        <i class="fas fa-mars"></i>
      </span>
      <span *ngIf="isMarked(pokemon.HP) === 'x' && gender === 'female'">
        <i class="fas fa-venus"></i>
      </span>
    </td>
  </tr>
  <tr>
    <th>Attack</th>
    <td>
      {{isMarked(pokemon.Atk)}}
      <span *ngIf="isMarked(pokemon.Atk) === 'x' && gender === 'male'">
        <i class="fas fa-mars"></i>
      </span>
      <span *ngIf="isMarked(pokemon.Atk) === 'x' && gender === 'female'">
        <i class="fas fa-venus"></i>
      </span>
    </td>
  </tr>
  <tr>
    <th>Defense</th>
    <td>
      {{isMarked(pokemon.Def)}}
      <span *ngIf="isMarked(pokemon.Def) === 'x' && gender === 'male'">
        <i class="fas fa-mars"></i>
      </span>
      <span *ngIf="isMarked(pokemon.Def) === 'x' && gender === 'female'">
        <i class="fas fa-venus"></i>
      </span>
    </td>
  </tr>
  <tr>
    <th>Sp. Atk</th>
    <td>
      {{isMarked(pokemon.SpA)}}
      <span *ngIf="isMarked(pokemon.SpA) === 'x' && gender === 'male'">
        <i class="fas fa-mars"></i>
      </span>
      <span *ngIf="isMarked(pokemon.SpA) === 'x' && gender === 'female'">
        <i class="fas fa-venus"></i>
      </span>
    </td>
  </tr>
  <tr>
    <th>Sp. Def</th>
    <td>
      {{isMarked(pokemon.SpD)}}
      <span *ngIf="isMarked(pokemon.SpA) === 'x' && gender === 'male'">
        <i class="fas fa-mars"></i>
      </span>
      <span *ngIf="isMarked(pokemon.SpA) === 'x' && gender === 'female'">
        <i class="fas fa-venus"></i>
      </span>
    </td>
  </tr>
  <tr>
    <th>Speed</th>
    <td>
      {{isMarked(pokemon.Ini)}}
      <span *ngIf="isMarked(pokemon.Ini) === 'x' && gender === 'male'">
        <i class="fas fa-mars"></i>
      </span>
      <span *ngIf="isMarked(pokemon.Ini) === 'x' && gender === 'female'">
        <i class="fas fa-venus"></i>
      </span>
    </td>
  </tr>
</table>