.twoStat + .twoStat{
    margin-top: 11rem;
}

.threeStat + .threeStat{
    margin-top: 32.65rem;
}

.fourStat + .fourStat {
    margin-top: 76.5rem;
}

.fiveStat + .fiveStat {
    margin-top: 165rem;
}