<app-stats-input (calculate)="calculate($event)"></app-stats-input>
<div *ngFor="let twoStat of bredPokemon?.twoStat">
    <app-pokemon-stats [pokemon]=twoStat></app-pokemon-stats>
</div>
<div *ngFor="let threeStat of bredPokemon?.threeStat">
    <app-pokemon-stats [pokemon]=threeStat></app-pokemon-stats>
</div>
<div *ngFor="let fourStat of bredPokemon?.fourStat">
    <app-pokemon-stats [pokemon]=fourStat></app-pokemon-stats>
</div>
<div *ngFor="let fiveStat of bredPokemon?.fiveStat">
    <app-pokemon-stats [pokemon]=fiveStat></app-pokemon-stats>
</div>
<div *ngFor="let sixStat of bredPokemon?.sixStat">
    <app-pokemon-stats [pokemon]=sixStat></app-pokemon-stats>
</div>






