.invalid-input {
    font-size: 0.8rem;
    color: red;
}

form {
    margin: 1rem;
}

.female-container {
    margin-right: 1rem;
    margin-left: 1rem;
}

.calc-button {
    margin-top: 1rem;
}

h4 {
    padding-top: 15px;
    padding-bottom: 10px;
}